<!doctype html>
<html lang="ja">
<head>
<%= stylesheet_link_tag "common.css" %>
<%= stylesheet_link_tag "library.css" %>
<%= stylesheet_link_tag "font-awesome/css/font-awesome.min.css" %>
<meta charset="UTF-8" />
<title>Books.</title>
</head>
<div id="wrapper">
	
	<div id="header">
		<div class="top">
			<div class="top-article cf">
				<div class="top-logo">
					<h1><i class="icon-book"></i>ぶっく競馬</h1>
				</div>
				<div class="top-login">
					<span>ようこそ　<i class="icon-user"></i>{ゲスト}さん｜</span>
					<a href="">ログイン</a>
				</div>
			</div>
		</div><!-- // top -->
		<div class="gallery">
			<div class="gallery-list">
				<ul>
					<li>
						<img src="images/gallery/comming_soon.png" alt="" />
					</li>
				</ul>
			</div>
		</div><!-- // gallery -->
		<div class="search">
			<ul class="inner">
				<li>
					<h3><i class="icon-paste icon-margin-right"></i>レースを探す</h3>
					<select name="hoge" id="hoge" class="lib-select">
						<option value="">選択してください</option>
					</select>
					<select name="hoge2" id="hoge2" class="lib-select">
						<option value="">選択してください</option>
					</select>
					<input type="text" name="" id="" class="lib-input lib-input-width-medium" />
					<button class="lib-btn-black">検索</button>
				</li>
			</ul>
		</div><!-- // search -->
	</div><!-- // header -->
	
	<div id="contents" class="cf"><!-- contentns start -->
