<div class="header">
  <h1 class="page-title">レース登録</h1>
</div>

<%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="row-fluid" style="border:none;">   
      <div class="block" style="border:none;">
        <%= render 'race_form' %>
      </div>
    </div>
  </div>
</div>

