// Place all the styles related to the RaceProgresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#back-default-mode {
  left:980px;
  position:absolute;
  z-index: 1001;
}
#back-default-mode a {
  width:100px;
  height:40px;
  background:url(/assets/contents/default_mode_button.png) no-repeat;
  text-indent:-99999pt;
  display:block;
}
#back-default-mode a:hover {
  background:url(/assets/contents/default_mode_button_on.png) no-repeat;
}
#mode-frame {
  width:180px;
  height:150px;
  top:0;
  left:0;
  position:absolute;
}
#mode-frame a {
  width:180px;
  height:150px;
  text-indent:-9999pt;
  background:url(/assets/contents/mode.png) no-repeat;
  display:block;
}
#mode-frame a:hover {
  background:url(/assets/contents/mode_on.png) no-repeat;
}
///////////////////////////////////////////////////////////////////////
//　モーダル関連のスタイル設定
///////////////////////////////////////////////////////////////////////
.overlay{
  background:url(/assets/contents/race_process_bg2.png) repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#marquee {
  font-size:200%;
  color:#ff9900;
  font-weight:bold;
  position:absolute;
}
#marquee > marquee {
  width:800px;
  line-height:1em;
  position:absolute;
  top:0;
  left:0;
  display:block;
}
#modal{
  overflow:auto;
  z-index:1001;
  position:absolute;
}
#end-modal {
  width:980px;
  height:600px;
  font-size:340%;
  overflow:auto;
  z-index:1200;
  position:absolute;
  display:none;
}
#end-modal .inner {
  line-height:3em;
  border:5px solid #333;
  background:#FFF;
  text-align:center;
}
#modal #logs {
  width:187px;
  border:3px solid #333;
  border-top:none;
  background:#FFF;
  float:left;
}
#modal #log-list {
  height:451px;
  display:block;
  position:relative;
  overflow:hidden;
}
#modal  #logs  #log-list dl {
  border-bottom:1px solid #333;
  padding:5px;
}
#modal  #fields {
  width:740px;
  margin-left:10px;
  float:left;
  position:relative;
  overflow:hidden;
}
#modal  #fields  #race-paint {
  background:#FFF;

  border:3px solid #333;
}

#modal  #fields  #race-paint{
  width:740px;
  height:397px;
}

#modal  #fields  #race-comments {
  background:#FAFAFA;
  margin-top:10px;
  border:3px solid #333;
  height: 35px;
}
#modal  #fields  #race-comments #test{
  width:90%;
  padding:6px 1px;
  margin-bottom:5px;
}

#modal > #rank-list {
  width:980px;
  height:80px;
}
#modal > #rank-list dl {
  background:#FFF;
  border:3px solid #333;
  margin-bottom:10px;
  margin-right:10px;
  width:79px;
  float:left;
}
#modal > #rank-list dl:last-child {
  margin-right:0px;
}
#modal > #rank-list dt {
  color:#fff;
  background:#333;
  font-size:130%;
  font-weight:bold;
  padding:1px;
  text-align:center;
}
#modal > #rank-list dd {
  font-size:90%;
  font-weight:bold;
  line-height:1em;
  height:60px;
  padding:2px;
}