<h2 class="lib-box-title lib-aside-mTop">こめんと</h2>
<div id="race-comments" class="lib-box">
	<div class="write">
		<form action="javascript:void(0)">			
			<input type="text" class="lib-input lib-input-width-long" />
			<button class="lib-btn-black">書込み</button>
		</form>
	</div>
	<div class="read">
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<dl>
			<dt>あいうえおーーー</dt>
			<dd>2013.12.13 noguhiro</dd>
		</dl>
		<div class="more">
			もっと見る！
		</div>
	</div>
</div><!-- #result-comments -->
<a class="lib-btn lib-button-large modal" href="javascript:void(0)" >実況もーど！！</a>
<!-- modal -->
<div id="modal">
<div class="background">,,</div>
<div class="container">eeeeeeeeeeeeee</div>
</div><!-- modal -->

<script>
$(window).load(function()
{
	setModal();
	function setModal() {
	 
		//HTML読み込み時にモーダルウィンドウの位置をセンターに調整
		adjustCenter("div#modal div.container");
	 
		//ウィンドウリサイズ時にモーダルウィンドウの位置をセンターに調整
		$(window).resize(function() {
			adjustCenter("div#modal div.container");
		});
	 
		//背景がクリックされた時にモーダルウィンドウを閉じる
		$("div#modal div.background").click(function() {
			displayModal(false);
		});
	 
		//リンクがクリックされた時にAjaxでコンテンツを読み込む
		$("a.modal").click(function() {
			$("div#modal").show();
			return false;
		});
	 
		//コンテンツの読み込み完了時にモーダルウィンドウを開く
		function onComplete() {
			displayModal(true);
			$("div#modal div.container a.close").click(function() {
				displayModal(false);
				return false;
			});
		}
	}
	 
	//モーダルウィンドウを開く
	function displayModal(sign) {
		if (sign) {
			$("div#modal").fadeIn(500);
		} else {
			$("div#modal").fadeOut(250);
		}
	}
	 
	//ウィンドウの位置をセンターに調整
	function adjustCenter(target) {
		var margin_top = ($(window).height()-$(target).height())/2;
		var margin_left = ($(window).width()-$(target).width())/2;
		$(target).css({top:margin_top+"px", left:margin_left+"px"});
	}	
})
</script>
<style>
div#modal {
	position: fixed;
	width: 100%;
	height: 100%;
}
div#modal div.background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.75;
	filter: alpha(opacity=75);
	-ms-filter: "alpha(opacity=75)";
}
div#modal div.container {
	position: relative;
	width: 980px;
	height: 600px;
	background-color: #ffffff;
}

#race-comments {
	font-family:Arial, Helvetica, Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", MS PGothic, "ＭＳ Ｐゴシック", MS Gothic, "ＭＳ ゴシック", sans-serif;
}
#race-comments .more {
	font-weight:bold;
	background:#333;
	color:#FFF;
	padding:5px 0;
	text-align:center;
}
#race-comments .read dl {
	background:#FFF;
	border-bottom:2px solid #333;
	padding:10px 15px;
}
#race-comments .read dt {
	font-size:120%;
}
#race-comments .read dd {
	margin-top:8px;
	text-align:right;
}
#race-comments .write {
	padding:10px;
	background:#FFF;
}
</style>
