<div class="overlay" style="display:none"></div>
<div id="modal" class="cf" style="display:none;">
	<div id="rank-list"></div>
	<div class="cf">
		<div id="logs">
			<h2 style="color:#FFF;background:#333;padding:10px;font-size:140%;font-weight:bold;display:block;">コメント一覧</h2>
			<div id="log-list"></div>
		</div>	
		<div id="fields">
			<div id="developper-comment">
				<h2 style="color:#FFF;background:#333;padding:10px;font-size:140%;font-weight:bold;display:block;">レース実況</h2>
			</div>
			<div id="race-paint">
				<div class="inner">
					<div id="marquee"></div>
					<canvas id="race-canvas" width="720" height="400"></canvas>
				</div>
			</div>
			<div id="race-comments">
				<form action="javascript:void(0)" id="comments" >
					<input type="text" name="test" id="test" placeholder="コメント入力してください！！" maxlength="38" />
					<input type="submit" class="lib-btn-black" value="送信" />
				</form>
			</div>
		</div>	
	</div>
</div>

<div id="back-default-mode" style="display:none">
	<a href="javascript:void(0)" class="race-mode-close" title="通常モードに戻る">通常モードに戻る</a>
</div>
<div id="mode-frame">
	<a href="javascript:void(0)" class="race-mode-open" title="実況モード">実況モードにする</a>
</div>
<input type="hidden" name="race_id" value="<%= @prog.race.id %>" id="race_id" />
<% if current_user %>
<input type="hidden" name="user_name" value="<%= current_user.name %>" id="user_name" />
<% else %>
<input type="hidden" name="user_name" value="774競馬" id="user_name" />
<% end %>

<script type="text/javascript" charset="utf-8">
$(window).load(function()
{
	var modeFrame = $("#mode-frame")
	var modeWidth = 190;
	var modeHeight = 150;
	var modePosition = function()
	{
		modeFrame.css('left', $(window).width() - modeWidth);
		modeFrame.css('top',  $(window).scrollTop() + $(window).height() - modeHeight);
	}
	
	modePosition();
		
	$(window).resize(function()
	{
		modePosition();
	});
	
	$(window).scroll(function()
	{
		modePosition();
	});
});

$(window).load(function()
{
//websocket
	var host = 'ws://denka-ws.herokuapp.com/'
	var ws = new WebSocket(host);
	var raceId = $('#race_id').val();
	var userName = $('#user_name').val();
	var modal = $("#modal");
	var overlay = $(".overlay");
	var backDefaultFrame = $("#back-default-mode");
	var button = $(".race-mode-open");
	var closeButton = $(".race-mode-close");
	var modalWidth = 980;
	var modalHeight = 600;
	var parentMarquee = $("#marquee");
	var _marquee = $(".marquee　marquee");
	var _logList = $("#log-list");
	var comments = $("#comments");
	var values = $("#test");

	_logList.perfectScrollbar();
	
//===========================================================================================================
//　Event関連
//===========================================================================================================

	// open
	ws.onopen = function ()
	{
		var message = {race_id: raceId, type: 'join'};
		ws.send(JSON.stringify(message));
	};

	  // receive
	ws.onmessage = function (event)
	{
		sendMarquee(event.data);
		sendLog(event.data, userName);
	};

	// close
	ws.onclose = function(event)
	{
		console.log(ws.readyState);
	};
  
	button.click(function()
	{
		overlay.show();
		modal.show();
		backDefaultFrame.show();
		setModalPosition();
	});
	
	closeButton.click(function()
	{
		parentMarquee.html("");
		overlay.hide();
		modal.hide();
		backDefaultFrame.hide();
	})
	
	$(window).scroll(function()
	{
		setBackDefaultFramePosition();
		setModalPosition();
	});
	
	$(window).resize(function()
	{
		setBackDefaultFramePosition();
		setModalPosition();
	});
	
	comments.submit(function()
	{
		if( validateMarquee(values.val()) )
		{
		    var message = {race_id: raceId, type: 'comment', comment: values.val()};
		    ws.send(JSON.stringify(message));
			values.val("");
		} 
		return false;
	});


//===========================================================================================================
//　ModalWindowのPosition関連
//===========================================================================================================
	
	function setModalPosition()
	{
		marginWidth  = ($(window).width() - modalWidth) / 2;
		marginHeight = $(window).scrollTop() + (($(window).height() - modalHeight) / 2);
		modal.width(modalWidth);
		modal.height(modalHeight);
		modal.css('left', marginWidth);
		modal.css('top', marginHeight);
	}
	
	function setBackDefaultFramePosition()
	{
		backDefaultFrame.css('top', $(window).scrollTop());
	}
	
//===========================================================================================================
//　Log関連
//===========================================================================================================
	function sendLog(text, name)
	{
		var results = '<dl><dt>'+ htmlSpecialChars(text) +'</dt><dd>'+ getCurrentTime() +' by'+ htmlSpecialChars(name) +'</dd></dl>';
		_logList.prepend(results);
	}
	
	function getCurrentTime()
	{
		var now   = new Date();
		var year  = now.getYear() < 2000 ? now.getYear() + 1900 : now.getYear();
		var month = now.getMonth() + 1;
		var day   = now.getDate();
		var hour  = now.getHours();
		var min   = now.getMinutes() < 10 ? '0' + now.getMinutes() : now.getMinutes();
		return year +'/'+ month +'/'+ day +' '+ hour +':'+ min
	}

//===========================================================================================================
//　Marquee関連
//===========================================================================================================
	function sendMarquee(text)
	{
		var results = '<marquee behavior="scroll" loop="1" style="top:'+ _marqueePosition() +'px" scrollamount="'+ _marqueeSpeed(text) +'" direction="left">'+ htmlSpecialChars(text) +'</marquee>';
		parentMarquee.append(results);
	}
	
	function validateMarquee(text)
	{
		if(42 > text.length && 0 < text.length) return true;
		return false;   
	}
	
	function _marqueePosition()
	{
		var positionY = 0
		if(parentMarquee.find("marquee").size() % 20 === 0)
		{
			positionY = 0
		} else {
			positionY = (parentMarquee.find("marquee").size() % 20) * 20;
		}
		return positionY;
	}
	
	function _marqueeSpeed(text)
	{
		if(text.length > 41)
		{
			return 80;
		} 
		else if(text.length > 36 && text.length < 40)
		{
			return 75;
		}
		else if(text.length > 31 && text.length < 35)
		{
			return 70;
		}
		else if(text.length > 14 && text.length < 30)
		{
			return 50;
		}
		else
		{
			return 30;
		}
	}
	
	function htmlSpecialChars(str)
	{
	    return str.replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
	}
	
});
</script>
