<div class="inner" style="width:980px;margin:20px auto 0 auto;">
	<img src="images/contents/race_process.png" alt="" />
</div>
<h2 style="display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold;border-radius:5px 5px 0 0">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>
	<%= @race.name %>
</h2>
<table id="vote-table">
	<thead>
		<tr>
			<th>順位</th>
			<th>画像</th>
			<th>著者</th>
			<th>ポイント</th>
		</tr>
	</thead>
	<tbody>
	<% @prog.race_horse_points.each do |point| %>
		<tr>
			<td class="rank">
				<%= debug(point.race_horse.id) %>
				<!-- 順位 -->
			</td>
			<td>
				
				<!-- ブック画像 -->
			</td>
			<td>
				<%= point.point %>
			</td>
			<td>
				<span class="point"><%= point.point %></span>pt
			</td><!-- ポイント -->
		</tr>
	<% end %>
	</tbody>
</table>