<!-- レース　詳細ページ　仮配置  -->
<h2 style="display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold;border-radius:5px 5px 0 0">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>G1なんとか杯
</h2>
<!-- ここに form タグを挿入すること -->

<table id="vote-table">
	<thead>
		<tr>
			<!-- ループ 10回 -->
			<th class="blue">10</th>
			<!-- ここまで -->
			<th>　</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<!-- ループ  10回 -->
			<td><?php echo rowText("はじめての楽しいヨガ4週間プログラム") ?></td>
			<!-- ここまで　-->
			<td>著名</td>
		</tr><!--　著名 -->
		<tr>
			<td>梅澤志乃</td>
			<td>著者</td>
		</tr><!-- 著者 -->
		<tr>
			<!-- ループ 10回  -->
			<td class="double-circle">◎</td>
			<!-- ここまで　-->
			<td>本命予測</td>
		</tr><!-- 予測 -->
		<tr>
			<!-- ループ 10回 -->
			<td>中央経済社</td>
			<!--ここまで　-->
			<td>出版舎</td>
		</tr><!-- 出版社 -->
		<tr>
			<!-- ループ 10回 -->
			<td>
				<select name="" id="" class="lib-select lib-select-small">
					<option value=""> </option>
					<option value="">◎本命</option>
					<option value="">○？？</option>
					<option value="">▲？？</option>
				</select>
			</td>
			<!-- ここまで　-->
			<td>選択</td>
		</tr>
	</tbody>
</table>

<div class="submit lib-aside-mTop" style="text-align: center">
	<button class="lib-btn-black lib-button-large" style="font-size:200%;">投票する</button>
	<button class="lib-btn lib-button-large" style="margin-left:20px;font-size:200%;">戻　る</button>
</div>

<!-- ここにフォームの〆タグ -->
