<div id="page-top" class="cf">
	<a href="#">
		<i class="icon-arrow-up icon-margin-right"></i>先頭に戻る
	</a>
</div><!-- //page-top -->
<div id="footer">
	<div class="inner">
		<article class="footer-head cf">
			<ul class="summary">
				<li class="lib-box">
					<h3>(仮)ぶっく競馬</h3>
					<p>みんなで本を投票して当選するか予測するサイトです。</p>
					<p>当たれば、当たるほどお得なポイントが溜まります！！</p>
					<p>もしかしたら、楽天から・・・</p>
					<p>何か素敵なプレゼントも？</p>
				</li>
				<li class="logo-image">
					<%= image_tag 'footer/logo.png', alt: '' %>
				</li>
			</ul>
			<div id="sitemap01" class="cf">
				<h3>
					<i class="icon-collapse icon-margin-right"></i>
					コンテンツ
				</h3>
				<ul>
					<li><a href="#">ホーム</a></li>
					<li><a href="#">ログイン</a></li>
					<li><a href="#">初めての方へ</a></li>
					<li><a href="#">投票する</a></li>
				</ul>
			</div><!-- sitemap01 -->
			<div id="sitemap02" class="cf">
				<h3>
					<i class="icon-collapse icon-margin-right"></i>
					カテゴリー
				</h3>
				<ul>
					<li><a href="#"><span>小説・エッセイ</span></a></li>
					<li><a href="#"><span>アライトノベル</span></a></li>
					<li><a href="#"><span>ボーイズラブ（BL）</span></a></li>
					<li><a href="#"><span>文庫</span></a></li>
					<li><a href="#"><span>新書</span></a></li>
					<li><a href="#"><span>美容・暮らし・健康・料理 </span></a></li>
					<li><a href="#"><span>絵本・児童書・図鑑</span></a></li>
					<li><a href="#"><span>ホビー・スポーツ・美術</span></a></li>
					<li><a href="#"><span>旅行・留学・アウトドア</span></a></li>
					<li><a href="#"><span>温泉</span></a></li>
					<li><a href="#"><span>鉄道の旅</span></a></li>
				</ul>
				<ul>
					<li><a href="#"><span>テーマパーク</span></a></li>
					<li><a href="#"><span>ガイドブック</span></a></li>
					<li><a href="#"><span>地図</span></a></li>
					<li><a href="#"><span>紀行・旅行エッセイ</span></a></li>
					<li><a href="#"><span>留学・海外赴任</span></a></li>
					<li><a href="#"><span>旅行主任者</span></a></li>
					<li><a href="#"><span>釣り</span></a></li>
					<li><a href="#"><span>キャンプ</span></a></li>
					<li><a href="#"><span>その他</span></a></li>
					<li><a href="#"><span>ビジネス・経済・就職</span></a></li>
					<li><a href="#"><span>語学・学習参考書</span></a></li>
				</ul>
				<ul>
					<li><a href="#"><span>資格・検定</span></a></li>
					<li><a href="#"><span>科学・医学・技術</span></a></li>
					<li><a href="#"><span>パソコン・システム開発</span></a></li>
					<li><a href="#"><span>人文・思想・社会</span></a></li>
					<li><a href="#"><span>漫画（コミック）</span></a></li>
					<li><a href="#"><span>写真集・タレント</span></a></li>
					<li><a href="#"><span>エンタメ・ゲーム</span></a></li>
					<li><a href="#"><span>楽譜</span></a></li>
					<li><a href="#"><span>付録付き</span></a></li>
					<li><a href="#"><span>バーゲン本</span></a></li>
				</ul>
			</div><!-- // sitemap02 -->
		</article><!-- // footer-head -->
		<article class="copyright">
			CopyRight 2013 AIIT enpit Team HackyandRocky.
		</article><!-- // copyright -->
	</div><!-- //inner -->
</div><!-- //footer -->
