<div id="header">
	<div class="top">
		<div class="top-article cf">
			<div class="top-logo">
				<h1><i class="icon-book"></i>ぶっく競馬</h1>
			</div>
			<div class="top-login">
        <% if current_user %>
				  <span>ようこそ　<i class="icon-user"></i><%= current_user.name %> さん｜</span>
          <%= link_to 'ログアウト', logout_path %>
        <% else %>
				  <%= link_to 'Facebookでログイン', '/auth/facebook' %>
        <% end %>
			</div>
		</div>
	</div><!-- // top -->
	<div class="gallery">
		<div class="gallery-list">
			<ul>
				<li>
					<%= image_tag('gallery/comming_soon.png', alt: '') %>
				</li>
			</ul>
		</div>
	</div><!-- // gallery -->
	<div class="search">
		<ul class="inner">
			<li>
				<h3><i class="icon-paste icon-margin-right"></i>レースを探す</h3>
				<select name="hoge" id="hoge" class="lib-select">
					<option value="">選択してください</option>
				</select>
				<select name="hoge2" id="hoge2" class="lib-select">
					<option value="">選択してください</option>
				</select>
				<input type="text" name="" id="" class="lib-input lib-input-width-medium" />
				<button class="lib-btn-black">検索</button>
			</li>
		</ul>
	</div><!-- // search -->
</div><!-- // header -->

<div id="contents" class="cf"><!-- contentns start -->
