<div id="header">
	<div class="top">
		<div class="top-article cf">
			<div class="top-logo">
				<h1><i class="icon-book"></i><%= link_to "ぶっく競馬" , root_path %></h1>
			</div>
			<div class="top-login">
        <% if current_user %>
				  <span>ようこそ　<i class="icon-user"></i><%= current_user.name %> さん｜</span>
          <%= link_to 'ログアウト', logout_path %>
        <% else %>
				  <%= link_to 'Facebookでログイン', '/auth/facebook' %>
        <% end %>
			</div>
		</div>
	</div><!-- // top -->
</div><!-- // header -->

