<div id="top-contents">
	<div class="gallery">
		<div class="gallery-list">
			<ul>
				<li>
					<%= image_tag('gallery/comming_soon.png', alt: '') %>
					<%= image_tag('gallery/bannar_1.png', alt: '') %>
				</li>
			</ul>
		</div>
	</div><!-- // gallery -->
	<div class="search">
		<ul class="inner">
			<li>
				<h3><i class="icon-paste icon-margin-right"></i>レースを探す</h3>
				<select name="hoge" id="hoge" class="lib-select">
					<option value="">選択してください</option>
				</select>
				<select name="hoge2" id="hoge2" class="lib-select">
					<option value="">選択してください</option>
				</select>
				<input type="text" name="" id="" class="lib-input lib-input-width-medium" />
				<button class="lib-btn-black">検索</button>
			</li>
		</ul>
	</div><!-- // search -->
</div>
